* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #797979;
}

#send_container {
    margin: 1%;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
}

#messages {
    width: 80%;
    margin: 5em .5em;
}

.message {
    background-color: #0a869c;
    width: 100%;
    min-height: 10em;
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    word-break: break-all;
}

.message > .date {
    background-color: #56b480;
    border-bottom: .2em solid #748137;
    font-size: 130%;
    height: 2em;
    padding: .3em;
}

.message > .time {
    background-color: #56b480;
    border-bottom: .2em solid #748137;
    font-size: 130%;
    height: 2em;
    padding: .3em;
}

.message > .text {
    margin: 1em .5em;
}